body {
    padding-top: 70px;
    padding-right: 0px !important
}

.modal-open {
  overflow-y: auto;
}

.navbar-nav > li > a {
    padding-top:12px !important; 
    padding-bottom:8px !important;
}
.navbar-default {
    min-height:40px !important
}
.navbar-brand { 
    padding: 10px 8px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 200;
    height:40px; 
}

#search_input {
    border-radius: 4px;
}

#dbdropdown > li > a > .fa-check {
    visibility:hidden;
}

#dbdropdown > li > a.selected > .fa {
    visibility:visible;
}

div.ui-resizable-handle.ui-resizable-e {
    border-left: 1px solid #E0E0E0; 
    display: inline-block; 
    margin-left: -1px; 
    padding: 0px 0px 0px 3px;
}

div.row {
    width: 1170px;
    display: inline-flex;
}

#leftbar {
    padding-right: 3px;
    padding-left: 3px;
}

#midbar {
    padding-right: 3px;
    padding-left: 3px;
}

#rightbar {
    /*max-width: 682.5px;*/
    padding-right: 3px;
    padding-left: 0px;
    padding-top: 8px; 
    height: 100%;
}

#rightbar > a:nth-child(1) {
    float: left;
    display: none;
}

#rightbar > a:nth-child(2)  {
    float: right;
}

#terminal {
    margin-top: 37px;
    font-family: Consolas, monaco, monospace;
}

#rightbar textarea {
    width: 100%;
    resize: none;
    margin-top: 8px;
    background-color : #f8f8f8;
    border: 1px solid #E0E0E0;
    outline: none;
}

.string, .list, .hash, .set, .zset {
    min-width: 55.25px;
    float: left;
    padding: 3px 5px;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 200;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}
.string {
    background-color: rgba(34, 139, 34, 0.85);
}
.hash {
    background-color:rgba(178, 34, 34, 0.85);
}
.list {
    background-color:rgba(218, 165, 32, 0.85);
}
.set {
    background-color:rgba(255, 69, 0, 0.85);
}
.zset {
    background-color:rgba(255, 165, 0, 0.85);
}

#context-menu {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  position: absolute;
  z-index: 2147483647;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  border-bottom-width: 0px;
}

#context-menu.active {
    display: block;
    width: 170px;
}

.context-menu-icon {
    top: 1px;
    position: relative;
    margin-right: 10px;
}

.context-menu-item {
    display: flex;
    cursor: pointer;
    padding: 8px 15px;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

.context-menu-item:hover {
    background-color: #ebebeb;
}

.menu-ok .button-menu-ok{
    border-radius: 4px;
    background-color: rgba(34, 139, 34, 0.85);
    border-color: rgba(34, 139, 34, 0.85);
}

/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-track-piece {
    background-color: #fff; /*滚动条的背景颜色*/
    -webkit-border-radius: 0; /*滚动条的圆角宽度*/
}
::-webkit-scrollbar {
    width: 12px; /*滚动条的宽度*/
    height: 8px; /*滚动条的高度*/
}
::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
}

.user-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  overflow-y: auto;
  z-index: 3;
  font-size: 14px;
  background-color: rgba(17, 17, 17, .9);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.user-modal-container.active {
  opacity: 1;
  visibility: visible;
}

.user-modal-container .user-modal {
  position: relative;
  margin: 50px auto;
  width: 90%;
  max-width: 500px;
  background-color: #f6f6f6;
  cursor: initial;
}

.user-modal-container .form-register {
  padding: 30px 25px 25px;
  display: none;
}

.user-modal-container .form-register.active {
  display: block;
}

.user-modal-container .error-message {
  text-align: center;
  color: red;
}

.user-modal-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eeeeee;
}

.user-modal-container input[type="submit"] {
  color: #f6f6f6;
  border: 0;
  margin-bottom: 0;
  background-color: #428bca;
  cursor: pointer;
}

.user-modal-container input[type="submit"]:hover {
  background-color: #428bca;
}

.user-modal-container input[type="submit"]:active {
  background-color: #428bca;
}

.user-modal-container input[type="submit"].disabled {
  background-color: #428bca;
}
